@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans - serif;
}

body {
  background: #1f242d;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 0px;
  margin-right: 20px;

  transition: 0.3s;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
  color: #0ff1ed;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 30px;
  font-weight: 600;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 span {
  color: #0ff1ed;
}

.home-content h1 {
  font-size: 60px;
  font-weight: 600;
  margin: -3px 0;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-img img {
  max-width: 400px;
  margin-right: 10px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 22px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
  background: #0ef;
  color: #1f242d;
  box-shadow: 0 0 20px #0ef;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 19px #0ef;
  font-size: 16px;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.about {
  background-color: #1f242d;
  padding: 80px 0;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}

.about img {
  border-radius: 60%;
  width: 253px;
  height: 300px;
  margin-bottom: 20px;
  align-items: center;
}

.about-text {
  max-width: 600px;
  margin: 0 auto;
}

.about-text h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.skills {
  background-color: #1f242d;
  padding: 80px 0;
  text-align: center;
}

.skills h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.skills p {
  font-size: 18px;
  margin-bottom: 60px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.skill:hover {
  transform: translateY(-10px);
}

.skill-icon {
  font-size: 60px;
  margin-top: 40px;
  color: #333;
}

.skill-name {
  font-size: 24px;
  margin-top: 20px;
  text-transform: uppercase;
  color: #333;
}

.portfolio {
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.image-container img {
  display: grid;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  inline-size: 300px;
  transition: transform 0.5s ease-in-out;
}

.image-container img {
  display: grid;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  inline-size: 300px;
  transition: transform 0.2s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.1) translateY(-10px);
}

.github-link {
  margin-top: 40px;
}

.github-link a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #333;
}

.github-link a:hover {
  color: #555;
  border-color: #555;
}

/*KEYFRAMES ANIMATION*/
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
